* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 375px;
	margin: 0 auto;
}

.form {
	background: url(../img/rega-bg.jpg) no-repeat center top/cover;
	width: 370px;
	height: 500px;
	box-shadow: 9px 7px 1px 0px rgb(134, 172, 202);
	border-radius: 25px;
}

.registration h1 {
	position: relative;
	font-size: 40px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 15px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}

.form__item {
	display: flex;
	align-items: center;
	flex-direction: column;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #bdccd1;
  border: none;
  box-shadow: 0px 6px 1px 0px rgb(238, 186, 186);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
  margin-top: 35px;
  padding: 8px 0px 8px 13px;
  font-family: 'Roboto', sans-serif;
}
.select {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
}

input {
	font-size: 18px;
	color: #000;
	padding: 8px 0px 8px 13px;
    width: 330px;
    border-radius: 5px;
    margin-top: 35px;
    font-weight: 400;
    background: #bdccd1;
    border: none;
	box-shadow: 0px 6px 1px 0px rgb(238, 186, 186);
}

.box.active {
	background: #f3d7d4;
}

.rega {
	display: flex;
	justify-content: space-between;
	width: 89%;
}

.rega a:hover {
	background-color: #fff;
	color: #eebaba;
}

.button__one {
	font-size: 20px;
	width: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px 0;
	margin-top: 30px;
	border-radius: 15px;
	color: #fff;
	transition: 0.2s linear;
	margin-right: 10px;
	background-color: #eebaba;
}

.button__two {
	font-size: 20px;
	width: 200px;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px 0;
	margin-top: 30px;
	border-radius: 15px;
	color: #fff;
	margin-left: 10px;
	background-color: #eebaba;
}

::-webkit-input-placeholder {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transform: skew(-5deg);
}
::-moz-placeholder {
  color: #121212;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transform: skew(-5deg);
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

.icon h2 {
	font-size: 20px;
	color: #000;
	font-weight: 400;
	padding-right: 15px;
}

@media screen and (max-width: 400px) {
	.registration h1 {
		font-size: 30px;
	}

	input {
		width: 290px;
		font-size: 16px;
	}

	.icon {
		padding-top: 15px;
	}

	.icon h2 {
	    font-size: 17px;
	    padding-right: 13px;
	}

	.icon__item img {
		width: 30px;
		height: 28px;
	}

	.form {
		width: 99%;
		height: 470px;
		margin-left: -2px;
	}

	.container {
		width: 95%;
	}

	.button__one {
		font-size: 19px;
	}

	.button__two {
		font-size: 19px;
	}

	.select {
	  position: relative;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  width: 287px;
	}
}