<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Макхоот - лучший хостинг</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div id="preloader" class="preloader">
		<div class="loader">
			<div class="lds-facebook">
				<div></div><div></div><div></div>
			</div>
		</div>
	</div>
	<header class="header" id="header">
		<div class="burgerrrr">
			<div class="container2">
				<div class="heading">
					<img src="img/logo.png" alt="" class="logo">
					<div class="header__burger">
						<span></span>
					</div>
					<nav class="header__menu">
						<ul class="menu">
							<li>
								<a href="#header" class="header__link">Хостинг</a>
							</li>
							<li>
								<a href="#section3" class="header__link">Тарифы</a>
							</li>
							<li>
								<a href="#titles-first" class="header__link">Преимушества</a>
							</li>
							<li>
								<a href="#section6" class="header__link">Домены</a>
							</li>
							<li>
								<a href="#section7" class="header__link">Отзывы</a>
							</li>
						</ul>
					</nav>
					<a href="#" class="button">Панель</a>	
				</div>		
			</div>
		</div>
		<div class="container">	
			<div class="slider-first">
				<div class="slider-header">	
					<img src="img/img1.png" alt="" class="img-header">
					<div class="header-item">
						<h1>
							Премиум хостинг
						</h1>
						<p>
							Максимум производительности. <br>
							До 10 аккаунтов на сервер.
						</p>
						<a href="#" class="btn">Подробнее</a>
					</div>
				</div>
				<div class="slider-header">	
					<img src="img/img2.png" alt="" class="img-header">
					<div class="header-item">
						<h1>
							Аренда сервисов
						</h1>
						<p>
							Премиальные брендовые серверы в аренду <br>
							в сверхнадежном современном дата-центре класса Tier3+
						</p>
						<a href="#" class="btn">Подробнее</a>
					</div>
				</div>
				<div class="slider-header">	
					<img src="img/img3.png" alt="" class="img-header">
					<div class="header-item">
						<h1>
							CMS Хостинг
						</h1>
						<p>
							Максимально быстрая и надёжная <br>
							работа популярных движков
						</p>
						<a href="#" class="btn">Подробнее</a>
					</div>
				</div>
			</div>	
		</div>
	</header>
	<section id="section2">
		<div class="container">
			<div class="partners__title">
		          <h2>Maкxooт-это лидер авторитетных рейтингов</h2>
		    </div>
		    <div class="partners-item">
			    <div class="partner__one">
			        <img src="img/icon3.png" alt="partner" />
			    </div>
				<div class="partner__two">
				    <img class="two" src="img/icon2.png" alt="partner" />
				    </div>
				<div class="partner__three">
				   	<img src="img/icon1.png" alt="partner" />
				</div>
		    </div>
		</div>
	</section>
	<section id="section3">
		<div class="container">
			<div class="section33">
				<div class="services">
				<h3>
					Выберите тариф
				</h3>
				<a href="#" class="button-section3">
					Оплата за год
				</a>
			</div>		
			<a href="#" class="btn-section3">
				Оплата за месяц
			</a>
			</div>
		</div>
	</section>
	<section id="section4">
		<div class="container">
			<div class="section4">
				<div class="min-container">
					<div class="title">
						<p class="hosting">Хостинг</p>
						<div class="str-two">
							<h3 class="mak-3">Мак-10</h3>
							<p class="fri-гб">10 Гб на SSD</p>
						</div>	
						<div class="fri">
							<p>1 сайт</p>
						</div>
						<div class="baza">
							<p>1 база данных</p>
						</div>
						<div class="gryz">
							<p>Нагрузка 5%</p>
						</div>
						<div class="procent">
							<h2 class="h2h2">113<span class="spann">₽</span> </h2>
						</div>
					</div>
				</div>
				<div class="min-container2">
					<div class="title">
						<p class="hosting">CMS-Хостинг</p>
						<div class="str-two">
							<h3 class="mak-3">Мак-15</h3>
							<p class="fri-гб">15 Гб на SSD</p>
						</div>	
						<div class="fri">
							<p>5 сайт</p>
						</div>
						<div class="baza">
							<p>5 база данных</p>
						</div>
						<div class="gryz">
							<p>Нагрузка 12.5%</p>
						</div>
						<div class="procent">
							<h2 class="h2h2">219<span class="spann">₽</span></h2>
						</div>
					</div>
				</div>
				<div class="min-container">
					<div class="title">
						<p class="hosting">Премиум хостинг</p>
						<div class="str-two">
							<h3 class="mak-3">Мак-30</h3>
							<p class="fri-гб">30 Гб на SSD</p>
						</div>	
						<div class="fri">
							<p>15 сайт</p>
						</div>
						<div class="baza">
							<p>15 база данных</p>
						</div>
						<div class="gryz">
							<p>Нагрузка 25%</p>
						</div>
						<div class="procent">
							<h2 class="h2h2">349<span class="spann">₽</span></h2>
						</div>
					</div>
				</div>
				<div class="min-container2">
					<div class="title">
						<p class="hosting">VPS Хостинг</p>
						<div class="str-two">
							<h3 class="mak-3">Мак-3</h3>
							<p class="fri-гб">3 Гб на SSD</p>
						</div>	
						<div class="fri">
							<p>40 сайт</p>
						</div>
						<div class="baza">
							<p>40 база данных</p>
						</div>
						<div class="gryz">
							<p>Нагрузка 50%</p>
						</div>
						<div class="procent">
							<h2 class="h2h2">619<span class="spann">₽</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="section5">
		<div class="container">
			<div class="section4">
				<div class="titles-first" id="titles-first">
					<h2>Наши преимущества</h2>
				</div>
				<div class="title-item">
					<img src="img/icons6.png" alt="">
					<h4>
						Безопасность данных
					</h4>
					<p>
						Операцинная система CloudLinux <br>
						с CageFS отлично защищает данные <br>
						клиентов макхоота
					</p>
				</div>
				<div class="title-item2">
					<img src="img/icons5.png" alt="">
					<h4>
						Премиальное оборудование
					</h4>
					<p>
						Клиенты макхоота обслуживаются на <br>
						профессиональном оборудовании <br>
						фирмы Dell с SSD-дисками
					</p>
				</div>
				<div class="title-item">
					<img src="img/icons4.png" alt="">
					<h4>
						Круглосуточная поддержка
					</h4>
					<p>
						Лучшие специалисты Макхоота <br>
					доступны в режиме 24/7 для решения <br>
					любых вопросов
					</p>
				</div>
				<div class="title-item2">
					<img src="img/icons3.png" alt="">
					<h4>
						Перенос на наш хостинг
					</h4>
					<p>
						При переходе от другого хостера <br>
						Макхост бесплатно переносит сайты и <br>
						дарит месяц пользования в подарок
					</p>
				</div>
				<div class="title-item">
					<img src="img/icons2.png" alt="">
					<h4>
						Своя хостинг-панель
					</h4>
					<p>
						Мы используем панель собственной <br>
						разработки для максимального продуманного и <br>
						удобного управления сайтами
					</p>
				</div>
				<div class="title-item2">
					<img src="img/icons1.png" alt="">
					<h4>
						Акции и бонусы
					</h4>
					<p>
						Все наши пользователи регулярно <br>
						получают бонусы и участвуют в акциях
					</p>
				</div>
			</div>	
		</div>
	</section>
		<section id="section6">
			<img src="img/right1.png" alt="" class="right1">
			<img src="img/left1.png" alt="" class="left1">
		<div class="container">
			<div class="section6">	
				<h2>
					Найдите идеальное доменное имя
				</h2>
				<form action="/">
					<input type="text" name="namePerson" placeholder="Введите нужное доменое имя" class="poisk">
					<select name="test2" id="" class="select">
						<option value="" class="ru">.ru</option>
						<option value="">.pro</option>
						<option value="">.biz</option>
						<option value="">.com</option>
					</select>
					<a href="#" class="btn3" >
						<i class="fa fa-search" aria-hidden="true" class="search"></i>
						Найти
					</a>
				</form>
			</div>
		</div>
	</section>
	<section id="section7">
		<div class="container-first">
			<div class="section7">
				<div class="about-item">
					<h2>
						Клиенты про нас
					</h2>
				</div>
				<div class="slider">
				<div class="slider-item">
					<div class="about-first">
					<img src="img/stars-boys.png" alt="" class="stars-boys">
					<img src="img/stars.png" alt="" class="stars">
					<h5>
						Алексей Кашин
					</h5>
					 <p class="stars-p">
					 	Youtube-блогер
					 </p>
					 <p class="stars-boys-p">
					 	С Макхоотом работаю около 7 месяцев. Общие <br>
						впечатления отличные! Сайты летают, техподдержка <br>
						оперативно решает все вопросы. Есть тестовый период <br> 
						целых 93 дня! Это ли не сказка ?! Особенно хочу отметить <br> 
						менеджера Ивана Иванова за грамотную помощь <br>
						в решении вопросов сотрудничества. Макхооту спасибо <br>
						за работу!
					 </p>
					 <p class="stars-end">
					 	13 апр. 2019
					 </p>
				</div>
				</div>
				<div class="slider-item">
					<div class="about-first1">
					<img src="img/stars-womon.png" alt="" class="stars-boys">
					<img src="img/stars.png" alt="" class="stars">
					<h5>
						Татьяна Велина
					</h5>
					 <p class="stars-p">
					 	SMM-менеджер
					 </p>
					 <p class="stars-boys-p">
					 	Это был мой первый опыт, однако я в восторге! Мне, как нубу <br>
						всё это было интуитивно понятно. Когда возникали вопросы, <br>
						мне отвечали в течение двух минут. Служба поддержки очень <br>
						отзывчивая и понимающая. <br>
						Сервис на высоте!
					 </p>
					 <p class="stars-end2">
					 	27 мая. 2019
					 </p>
				</div>
				</div>
				<div class="slider-item">
					<div class="about-first">
					<img src="img/stars-boys.png" alt="" class="stars-boys">
					<img src="img/stars.png" alt="" class="stars">
					<h5>
						Алексей Кашин
					</h5>
					 <p class="stars-p">
					 	Youtube-блогер
					 </p>
					 <p class="stars-boys-p">
					 	С Макхоотом работаю около 7 месяцев. Общие <br>
						впечатления отличные! Сайты летают, техподдержка <br>
						оперативно решает все вопросы. Есть тестовый период <br> 
						целых 93 дня! Это ли не сказка ?! Особенно хочу отметить <br> 
						менеджера Ивана Иванова за грамотную помощь <br>
						в решении вопросов сотрудничества. Макхооту спасибо <br>
						за работу!
					 </p>
					 <p class="stars-end">
					 	13 апр. 2019
					 </p>
				</div>
				</div>
				<div class="slider-item">
					<div class="about-first1">
						<img src="img/stars-womon.png" alt="" class="stars-boys">
						<img src="img/stars.png" alt="" class="stars">
						<h5>
							Татьяна Велина
						</h5>
						 <p class="stars-p">
						 	SMM-менеджер
						 </p>
						 <p class="stars-boys-p">
						 	Это был мой первый опыт, однако я в восторге! Мне, как нубу <br>
							всё это было интуитивно понятно. Когда возникали вопросы, <br>
							мне отвечали в течение двух минут. Служба поддержки очень <br>
							отзывчивая и понимающая. <br>
							Сервис на высоте!
						 </p>
						 <p class="stars-end2">
						 	27 мая. 2019
						 </p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</section>
	<section id="section8">
		<div class="container">
			<div class="section8">
				<img  src="img/icons-section8.png" alt="" class="icons-section8">
				<h2 data-aos="fade-in" data-aos-delay="500">
					Получите месяц в подарок
				</h2>
				<p>
					При переносе сайтов от другого хостинг-провайдера вы получаете месяц <br>
					хостинга на выбранном вами тарифе в подарок! Акция распространяется на <br>
					все актуальные тарифы, кроме аренды выделенных серверов
				</p>
				<a href="#" class="btn-8">
					Получить
				</a>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<img src="img/logo.png" alt="" class="logo2">
				<br>
				<a href="#" class="icon-btn">
					<img src="img/vk.png" alt="">
				</a>
				<a href="#" class="icon-btn">
					<img src="img/facebook.png" alt="">
				</a>
				<a href="#" class="icon-btn">
					<img src="img/twitter.png" alt="">
				</a>
				<div class="servicesss">
					<div class="services-footer">
						<h4>Услуги</h4>
						<a href="#" class="footer-services">
							Хостинг
						</a>
						<a href="#" class="footer-services">
							CMS Хостинг
						</a>
						<a href="#" class="footer-services">
							Премиум Хостинг
						</a>
						<a href="#" class="footer-services">
							VPS Хостинг
						</a>
						<a href="#" class="footer-services">
							Домены
						</a>
						<a href="#" class="footer-services">
							SSL-сертификаты
						</a>
						<a href="#" class="footer-services">
							Лицензии ПО
						</a>
						<a href="#" class="footer-services">
							Выделенные сервера
						</a>
					</div>
					<div class="services-two">
						<h4>Клиенты</h4>
						<a href="#" class="footer-services">
							Дата-центры
						</a>
						<a href="#" class="footer-services">
							Акции
						</a>
						<a href="#" class="footer-services">
							Документы
						</a>
						<a href="#" class="footer-services">
							Помощь
						</a>
						<a href="#" class="footer-services">
							Партнерская программа
						</a>
					</div>	
					<div class="services-last">
						<h4>O компании</h4>
						<a href="#" class="footer-services">
							О компании
						</a>
						<a href="#" class="footer-services">
							Контакты
						</a>
					</div>			
				</div>		
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="js/libs/parallax.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/libs/scroll-animate.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/script.js"></script>
	<script>
	  AOS.init();
	</script>
	 <script>
		document.body.onload = function() {

			setTimeout(function() {
				var preloader = document.getElementById('preloader');
				if(!preloader.classList.contains('done') ) {
					preloader.classList.add('done');
				}
			}, 1000);

		}
	</script> 
</body>
</html>