* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.container {
	width: 1444px;
	margin: 0 auto;
}

.header__content {
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
}

.heading {
	display: flex;
	width: 1444px;
	margin: 0 auto;
	justify-content: space-between;
}

.logo img {
	margin-top: 21px;
}

.heading__item {
	display: flex;
	width: 1100px;
	justify-content: space-between;
}

.form__selection {
	display: flex;
	width: 220px;
	justify-content: space-between;
	padding-top: 40px;
}

.form__selection__item2 select {
	margin-top: -10px;
}

.form__selection__item2 img {
	padding-right: 10px;
	margin-top: -10px;
	margin-bottom: -7px;
}

#select {
	font-size: 14px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	border: none;
	color: #696969;
	padding-right: 7px;
}

.social-network {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	width: 230px;
}

.social-network a {
	color: #696969;
	display: block;
	font-weight: 300;
	font-size: 14px;
	height: 25px;
}

.social-network a:hover {
	color: #0099DA;
}

.whatsapp {
	margin-top: -2px !important;
}

.telegramm {
	margin-top: -4px !important;
}

.phone a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 21px;
	margin-top: 31px;
}

.phone a:hover {
	color: #0099da;
}

.phone a img {
	position: relative;
    top: 7px;
    margin-right: 5px;
}

.button__tel a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	padding: 12px 0;
	border: 1px solid #0099DA;
	box-sizing: border-box;
	border-radius: 41px;
	width: 188px;
	color: #0099DA;
	margin-top: 26px;
	transition: 0.2s linear;
}

.button__tel a:hover {
	color: #000;
	border: 1px solid #000;
}

.search a {
	display: block;
    text-decoration: none;
    margin-top: 35px;
}

.menu {
	display: flex;
	padding-bottom: 20px;
	justify-content: space-between;
}

.menu__span {
	font-size: 9px;
    background: #F0F0F0;
    border-radius: 7px;
    width: 27px;
    position: absolute;
    text-align: center;
    padding: 3px;
    margin-top: -32px;
    margin-left: 63px;
}

.menu li{
	display: block;
	padding-top: 23px;
}

.menu a {
	font-size: 16px;
	color: #000;
	display: flex;
	font-weight: 300;
	text-decoration: none;
}

.menu a:hover {
	text-decoration-line: underline;
	color: #0099DA;
}

.menu a:hover .shopping-icon {
	background: url(../img/shopping-icon__item.svg) no-repeat center top;
}

.menu a:hover .icon-3D {
	background: url(../img/icon-3D__item.png) no-repeat center top;
}

.menu a:hover .icon-money {
	background: url(../img/icon-money__item.png) no-repeat center top;
}

.icon-3D {
	width: 26px;
	height: 24px;
	display: block;
	margin-right: 7px;
	margin-top: -3px;
	background: url(../img/icon-3D.svg)no-repeat center top;
}

.icon-money{
	width: 26px;
	height: 24px;
	display: block;
	margin-right: 7px;
	margin-top: -3px;
	background: url(../img/icon-money.svg)no-repeat center top;
}

.shopping-icon {
	width: 26px;
	height: 24px;
	display: block;
	margin-right: 7px;
	margin-top: -3px;
	background: url(../img/shopping-icon.svg)no-repeat center top;
}

#section1 {
	min-height: 513px;
	padding-top: 1px;
	background: url(../img/section1-bg.jpg) no-repeat center top/cover;
}

.transperant__block {
	display: block;
    position: relative;
    width: 454px;
    height: 454px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 230px;
}


.transperant__min__block {
	display: block;
    position: absolute;
    width: 278px;
    margin-left: 130px;
    height: 278px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.2);
}

.blue__block {
	display: block;
    position: absolute;
    width: 118px;
    margin-left: 107px;
    height: 118px;
    margin-top: 88px;
    z-index: 2;
    background: #0099DA;
	box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}

.red__block {
	display: block;
    position: absolute;
    width: 58px;
    margin-left: 30px;
    height: 58px;
    margin-top: 30px;
    background: #fff;
    z-index: 2;
}

.title__section1 {
	display: block;
    position: absolute;
    width: 900px;
    z-index: 1;
    margin-top: -315px;
    margin-left: 522px;
   	background: rgba(255, 255, 255, 0.8);
}

.title__section1 p {
	font-weight: 300;
	font-size: 61px;
	width: 718px;
	display: block;
	padding-top: 50px;
	margin: 0 auto;
	margin-top: 43px;
	padding-bottom: 70px;
}

.span__title1 {
	color: #0099DA;
	font-weight: 600;
}

.span__title2 {
	color: #000;
	font-weight: 600;
}

.red__block__item {
	display: block;
    position: absolute;
    width: 66px;
    margin-left: 1224px;
    height: 66px;
    margin-top: -33px;
    background: #fff;
    z-index: 2;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.red__block__item__min {
	display: block;
    position: absolute;
    width: 30px;
    margin-left: 1405px;
    height: 30px;
    margin-top: -330px;
    background: #fff;
    z-index: 2;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.red__block__item2 {
	display: block;
    position: relative;
    width: 58px;
    margin-left: 30px;
    height: 58px;
    margin-top: -195px;
    background: #fff;
    z-index: 2;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

// Cлайдер

.slider .slick-list {
	overflow:hidden;
	margin: 0 auto;
	height: 500px;
}

.slick-track{
	display: flex;
}

.slider {
	position: relative;
	width: 1454px;
	margin: 0 auto;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
             width: 180px;
    margin-top: -65px;
    position: relative;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 7px 0px 7px;
  cursor: pointer;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: #fff;
  border: 7px solid #0099DA;
  cursor: pointer;
  width: 26px;
  height: 26px;
}
/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
  width: 22px;
  height: 22px;
  border: 4px solid #fff;
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  outline: 0;
  cursor: pointer;
}

.form__tel {
	position: fixed;
	background: #00000047;
	z-index: 10;
	width: 100%;
	height: 100vh;
}

.form__tel__item {
	width: 712px;
	height: 490px;
	background: #FAFAFA;
	position: relative;
	margin: 0 auto;
	top: 25%;
	box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.25);
}

.form__tel__item h1 {
	font-weight: 300;
	font-size: 36px;
	text-align: center;
	color: #000;
	padding-top: 48px;
	padding-bottom: 23px;
}

.form__action {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 468px;
}

.form__action input {
	width: 468px;
	padding: 24px 0px 20px 22px;
	font-weight: 300;
	font-size: 20px;
	background: #fff;
	border: 1px solid #dedede;
	box-sizing: border-box;
	border-radius: 10px;
	margin-top: 25px;
	color: #696969;
}

.radio {
	width: 335px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.radio input {
	margin-top: 2px;
}

.radio a {
	font-weight: 300;
	font-size: 14px;
	color: #696969;
	display: block;
	text-decoration: none;
}

.radio a span {
	border-bottom: 1px solid #696969;
}

.form__btn {
	width: 188px;
	border: 1px solid #0099DA;
	border-radius: 41px;
	font-size: 16px;
	color: #0099DA;
	padding: 12px 0;
	text-align: center;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	margin-top: 38px;
}

.form__btn:hover {
	border: 1px solid #000;
	color: #000;
}

.exit-form {
	background: url(../img/exit-form.svg);
	width: 22px;
	height: 22px;
	display: block;
	position: absolute;
	right: 21px;
	top: 19px;
}

.exit-form:hover {
	background: url(../img/exit-form__item.svg);
}

#section2 {
	padding-top: 65px;
	padding-bottom: 50px;
}

.section2__content__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section2__item1 {
	display: flex;
	width: 341px;
	height: 91px;
	border: 1px solid #f0f0f0;
	box-sizing: border-box;
	margin-top: 23px;
}

.section2__item1 span {
	width: 50px;
	height: 50px;
	margin-top: 21px;
	margin-left: 32px;
}

.section2__item1__span1 {
	background: url(../img/section2-icon1.svg);
}

.section2__item1__span2 {
	background: url(../img/section2-icon2.svg);
}
.section2__item1__span3 {
	background: url(../img/section2-icon3.svg);
}
.section2__item1__span4 {
	background: url(../img/section2-icon4.svg);
}
.section2__item1__span5 {
	background: url(../img/section2-icon5.svg);
}
.section2__item1__span6 {
	background: url(../img/section2-icon6.svg);
}
.section2__item1__span7 {
	background: url(../img/section2-icon7.svg);
}
.section2__item1__span8 {
	background: url(../img/section2-icon8.svg);
}

.section2__item1:hover .section2__item1__span1 {
	background: url(../img/section2-icon1__item.svg);
}

.section2__item1:hover .section2__item1__span2 {
	background: url(../img/section2-icon2__item.svg);
}

.section2__item1:hover .section2__item1__span3 {
	background: url(../img/section2-icon3__item.svg);
}

.section2__item1:hover .section2__item1__span4 {
	background: url(../img/section2-icon4__item.svg);
}

.section2__item1:hover .section2__item1__span5 {
	background: url(../img/section2-icon5__item.svg);
}

.section2__item1:hover .section2__item1__span6 {
	background: url(../img/section2-icon6__item.svg);
}

.section2__item1:hover .section2__item1__span7 {
	background: url(../img/section2-icon7__item.svg);
}

.section2__item1:hover .section2__item1__span8 {
	background: url(../img/section2-icon8__item.svg);
}

.section2__item1 p {
	font-weight: 300;
	font-size: 16px;
	color: #000;
	padding-top: 36px;
	padding-left: 42px;
}

.section2__item1:hover {
	border: 1px solid #0099DA;
}

.section2__item1:hover p {
	color: #0099DA;
}

.about {
	margin-top: 57px;
	display: flex;
	justify-content: space-between;
}

.photo__video {
	width: 590px;
	height: 375px;
	position: relative;
	z-index: 2;
}

.video::before {
	position: absolute;
	content: '';
	width: 554px;
	height: 340px;
	background: transparent;
	border: 1px solid #fff;
	margin-top: 16px;
	z-index: 3;
	margin-left: 16px;
}

.video::after {
	position: absolute;
	content: '';
	width: 566px;
	height: 351px;
	background: transparent;
	border: 1px solid #0099DA;
	margin-top: -343px;
    margin-left: 39px;
}

.video__item a {
	position: absolute;
    margin-left: -337px;
    z-index: 4;
    margin-top: 158px;
}

.about__text {
	width: 800px;
}

.about__text__item {
	margin-left: 55px;
	width: 702px;
}

.about__text h2 {
	font-size: 45px;
	font-weight: 300;
	padding-top: 50px;
}

.about__text__item h3 {
	font-size: 25px;
	font-weight: 300;
	padding-top: 5px;
}

.about__text__item p {
	color: #696969;
	font-size: 16px;
	font-weight: 300;
	padding-top: 22px;
}

.about__text__item a {
	display: block;
	font-size: 14px;
	color: #000;
	font-weight: 300;
	width: 81px;
	margin-top: 25px;
}

.video__form {
	position: fixed;
    background: #000000bf;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.video__form__content {
	width: 630px;
	height: 365px;
	position: relative;
    margin: 0 auto;
    top: 25%;
    box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.25);
}

.video__form__exit {
	width: 55px;
	height: 55px;
	background: #000000b3;
	display: block;
	text-decoration: none;
	position: absolute;
	margin-top: -65px;
	margin-left: 575px;
	border-radius: 20px;
}

.line1 {
	display: block;
    background: #fff;
    width: 35px;
    height: 7px;
    border-radius: 10px;
    transform: rotate(135deg);
    margin-top: 23px;
    margin-left: 10px;
    position: absolute;
}

.line2 {
	display: block;
    background: #fff;
    width: 35px;
    height: 7px;
    border-radius: 10px;
    transform: rotate(45deg);
    margin-top: 23px;
    margin-left: 10px;
    position: absolute;
}

#section3 {
	background: #fafafa;
	padding-top: 52px;
	padding-bottom: 70px;
}

.section3__content h2 {
	font-weight: 300;
	font-size: 45px;
	padding-bottom: 31px;
}

.section3__item {
	width: 276px;
	height: 89px;
	display: flex;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	margin-top: 23px;
}

.section3__item span {
	margin-top: 15px;
	margin-left: 20px;
	width: 50px;
	height: 50px;
	display: block;
}

.section3__item p {
	padding-top: 35px;
	padding-left: 23px;
}

.section3__item__span1 {
	background: url(../img/section3-icon1.svg);
}

.section3__item__span2 {
	background: url(../img/section3-icon2.svg);
}

.section3__item__span3 {
	background: url(../img/section3-icon3.svg);
}

.section3__item__span4 {
	background: url(../img/section3-icon4.svg);
}
.section3__item__span5 {
	background: url(../img/section3-icon5.svg);
}
.section3__item__span6 {
	background: url(../img/section3-icon6.svg);
}
.section3__item__span7 {
	background: url(../img/section3-icon7.svg);
}
.section3__item__span8 {
	background: url(../img/section3-icon8.svg);
}
.section3__item__span9 {
	background: url(../img/section3-icon9.svg);
}
.section3__item__span10 {
	background: url(../img/section3-icon10.svg);
}
.section3__item__span11 {
	background: url(../img/section3-icon11.svg);
}
.section3__item__span12 {
	background: url(../img/section3-icon12.svg);
}
.section3__item__span13 {
	background: url(../img/section3-icon13.svg);
}
.section3__item__span14 {
	background: url(../img/section3-icon14.svg);
}
.section3__item__span15 {
	background: url(../img/section3-icon15.svg);
}
.section3__item__span16 {
	background: url(../img/section3-icon16.svg);
}
.section3__item__span17 {
	background: url(../img/section3-icon17.svg);
}
.section3__item__span18 {
	background: url(../img/section3-icon18.svg);
}
.section3__item__span19 {
	background: url(../img/section3-icon19.svg);
}
.section3__item__span20 {
	background: url(../img/section3-icon20.svg);
}

.section3__item:hover .section3__item__span1 {
	background: url(../img/section3-icon1__item.svg);
}
.section3__item:hover .section3__item__span2 {
	background: url(../img/section3-icon2__item.svg);
}
.section3__item:hover .section3__item__span3 {
	background: url(../img/section3-icon3__item.svg);
}
.section3__item:hover .section3__item__span4 {
	background: url(../img/section3-icon4__item.svg);
}
.section3__item:hover .section3__item__span5 {
	background: url(../img/section3-icon5__item.svg);
}
.section3__item:hover .section3__item__span6 {
	background: url(../img/section3-icon6__item.svg);
}
.section3__item:hover .section3__item__span7 {
	background: url(../img/section3-icon7__item.svg);
}
.section3__item:hover .section3__item__span8 {
	background: url(../img/section3-icon8__item.svg);
}
.section3__item:hover .section3__item__span9 {
	background: url(../img/section3-icon9__item.svg);
}
.section3__item:hover .section3__item__span10 {
	background: url(../img/section3-icon10__item.svg);
}
.section3__item:hover .section3__item__span11 {
	background: url(../img/section3-icon11__item.svg);
}
.section3__item:hover .section3__item__span12 {
	background: url(../img/section3-icon12__item.svg);
}
.section3__item:hover .section3__item__span13 {
	background: url(../img/section3-icon13__item.svg);
}
.section3__item:hover .section3__item__span14 {
	background: url(../img/section3-icon14__item.svg);
}
.section3__item:hover .section3__item__span15 {
	background: url(../img/section3-icon15__item.svg);
}
.section3__item:hover .section3__item__span16 {
	background: url(../img/section3-icon16__item.svg);
}
.section3__item:hover .section3__item__span17 {
	background: url(../img/section3-icon17__item.svg);
}
.section3__item:hover .section3__item__span18 {
	background: url(../img/section3-icon18__item.svg);
}
.section3__item:hover .section3__item__span19 {
	background: url(../img/section3-icon19__item.svg);
}
.section3__item:hover .section3__item__span20 {
	background: url(../img/section3-icon20__item.svg);
}

.section3__content__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section3__item:hover {
	border: 1px solid #0099DA;
}

.section3__item:hover p {
	color: #0099DA;
}

#section4 {
	padding-top: 44px;
	padding-bottom: 65px;
}

.section4__title {
	display: flex;
	justify-content: space-between;
}

.section4__title h2 {
	font-weight: 300;
	font-size: 45px;
}

.section4__title a {
	font-size: 14px;
	color: #696969;	
	margin-right: 35px;
	margin-top: 37px;
}

.articles {
	display: flex;
	justify-content: space-between;
}

.articles__item:hover span {
	color: #000;
	border-bottom: none;
}

.articles__item:hover a {
	color: #0099DA;
	text-decoration-line: underline;
}

.articles__item {
	padding-top: 42px;
}

.articles__item img {
	width: 346px;
	height: 210px;
}

.articles__item p {
	padding-top: 22px;
	color: #696969;
	font-weight: 300;
	font-size: 12px;
}

.articles__item span {
	border-bottom: 1px solid #696969;
	margin-left: 19px;
}

.articles__item a {
	font-size: 21px;
	font-weight: 300;
	margin-top: 9px;
	display: block;
	text-decoration: none;
	color: #000;
}

.guarantees {
	height: 297px;
	display: flex;
	margin: 0 auto;
	margin-top: 81px;
}

.guarantees__item1 {
	background: #fafafa;
	display: flex;
	width: 73%;
	justify-content: flex-end;
	padding-top: 77px;
	padding-right: 100px;
}
.guarantees__item2 {
	background: #0099DA;
	display: block;
	width: 50%;
	padding-top: 53px;
	padding-left: 91px;
}

.guarantees__content {
	display: flex;
	width: 750px;
	justify-content: space-between;
}

.guarantees__item1__text {
	display: flex;
}

.guarantees__item1__text h1 {
	font-weight: 300;
	font-size: 99px;
	color: #0099DA;
	width: 142px;
	height: 131px;
	text-align: center;
	padding-top: 11px;
	border: 1px solid #0099DA;
}

.guarantees__item1__text p {
	font-weight: 300;
    font-size: 64px;
    text-align: center;
    line-height: 0.7em;
    padding-top: 26px;
    padding-left: 33px;
}

.guarantees__item1__text p span {
	font-size: 34px;
}

.guarantees__item1__text2  {
	display: flex;
}

.guarantees__item1__text2 h1 {
	font-weight: 300;
	font-size: 99px;
	color: #0099DA;
	width: 213px;
	height: 131px;
	text-align: center;
	padding-top: 11px;
	border: 1px solid #0099DA;
}

.guarantees__item1__text2 p {
	font-weight: 400;
    font-size: 43px;
    line-height: 0.7em;
    padding-top: 26px;
    padding-left: 33px;
}

.guarantees__item1__text2 p span {
	font-size: 37px;
	font-weight: 300;
}

.question {
	width: 93px;
    height: 83px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    color: #0099da;
    font-size: 58px;
    font-weight: 300;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    margin-left: 146px;
    margin-top: 30px;
}

.guarantees__item2 h2 {
	font-size: 32px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}

.guarantees__item2 h2 span {
	font-weight: 300;
	text-transform: none;
}

.guarantees__item2 p {
	font-weight: 300;
	font-size: 17px;
	padding-top: 19px;
	color: #fff;
}

.guarantees__item2 a {
	font-size: 16px;
	font-weight: 300;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 41px;
	width: 188px;
	padding: 12px 0;
	display: block;
	text-decoration: none;
	color: #fff;
	margin-top: 34px;
	text-align: center;
}

// Секция 5

#section5 {
	padding-bottom: 62px;
}

.section5__content__title h2 {
	font-weight: 300;
	font-size: 45px;
}


.photo__section5__item {
	width: 224px !important;
	height: 174px !important;
	background: #FFFFFF;
	border: 1px solid #E3E3E3;
	margin-top: 63px;
}

.customers1 {
	display: block;
    margin: 0 auto;
    margin-top: 33px;
}

.customers2 {
	display: block;
    margin: 0 auto;
    margin-top: 19px;
}

// Cлайдер

.slider__section5 .slick-list {
	overflow:hidden;
	margin: 0 auto;
	height: 290px;
}

.slick-track{
	display: flex;
}

.slider__section5 {
	position: relative;
	width: 1454px;
	margin: 0 auto;
}

.slider__section5 .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
             width: 180px;
             margin: 0 auto;
}
.slider__section5 .slick-dots li {
  list-style: none;
  margin: 0px 7px 0px 7px;
  cursor: pointer;
}
/* Активная точка */
.slider__section5 .slick-dots li.slick-active button {
  background: #0099DA;
  cursor: pointer;
  width: 14px;
  height: 14px;
}
/* Элемент точки */
.slider__section5 .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #E3E3E3;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  margin: 0 auto;
  border: none;
}

#footer {
	background: #fafafa;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
}

.footer__item {
	display: flex;
	justify-content: space-around;
	width: 1000px;
}

.footer__item p {
	padding-top: 20px;
	font-weight: 300;
	font-size: 16px;
}

.footer__icon {
	display: flex;
	justify-content: space-between;
	width: 384px;
}

.footer__icon a {
	display: block;
	text-decoration: none;
	margin-top: 13px;
}

.logo2 {
	display: block;
	margin-top: 7px;
}

@media screen and (max-width: 1500px) {
	.container {
		width: 96%;
	}
	
	.slider {
		width: 96%;
	}

	#section1 {
		width: 100%;
	}

	.heading {
		width: 96%;
	}

	.transperant__block {
		margin-left: 150px;
	}

	.title__section1 {
		margin-left: 442px;
	}

	.red__block__item__min {
		margin-left: 1325px;
	}

	.red__block__item {
		margin-left: 1144px;
	}

	.slider__section5 {
	    position: relative;
	    width: 100%;
	    margin: 0 auto;
	}
}

@media screen and (max-width: 1480px) {
	.about__text {
	    width: 54%;
	}

	.about__text__item {
	    margin-left: 55px;
	    width: 90%;
	}

	.articles__item img {
	    width: 300px;
	    height: 195px;
	}

	.articles__item a {
		font-size: 20px;
	}

	.guarantees__item1 {
		padding-left: 25px;
		width: 55%;
	}
}

@media screen and (max-width: 1450px) {
	.transperant__block {
		margin-left: 150px;
		width: 424px;
		height: 424px;
	}

	.transperant__min__block {
		width: 228px;
		height: 228px;
		margin-left: 142px;
	}

	.title__section1 {
		margin-left: 422px;
		margin-top: -275px;
		width: 850px;
	}

	.title__section1 p {
		padding-bottom: 60px;
		padding-top: 10px;
		font-size: 56px;
		width: 660px;
	}

	.red__block__item__min {
		margin-left: 1255px;
		margin-top: -291px;
	}

	.red__block__item {
		margin-left: 1050px;
		margin-top: -50px;
	}

	.red__block__item2 {
		margin-top: -160px;
		margin-left: 0px;
	}

	.blue__block {
		margin-left: 70px;
		margin-top: 88px;
	}

	.section2__item1 {
		width: 310px;
	}

	.section2__item1 span {
	    width: 50px;
	    height: 50px;
	    margin-top: 19px;
	    margin-left: 22px;
	}

	.slider__section5 {
	    position: relative;
	    width: 100%;
	    margin: 0 auto;
	    display: block;
	}
}

@media screen and (max-width: 1430px) {
	.about__text {
	    width: 52%;
	}
}

@media screen and (max-width: 1385px) {
	.blue__block {
		width: 98px;
		height: 98px;
	}

	.red__block {
		width: 40px;
		height: 40px;
	}

	.transperant__block {
	    margin-left: 115px;
	    width: 400px;
	    height: 400px;
	}

	.transperant__min__block {
	    width: 218px;
	    height: 218px;
	    margin-left: 115px;
	}

	.title__section1 {
	    margin-left: 352px;
	    margin-top: -265px;
	    width: 800px;
	}

	.red__block__item__min {
	    margin-left: 1140px;
	    margin-top: -279px;
	    width: 25px;
	    height: 25px;
	}

	.red__block__item2 {
		width: 48px;
		height: 48px;
	}

	.red__block__item {
	    margin-left: 980px;
	    margin-top: -40px;
	    width: 56px;
	    height: 56px;
	}

	.about__text {
	    width: 50%;
	}
}

@media screen and (max-width: 1320px) {
	#select {
		padding-left: 7px;
	}

	.form__selection__item2 img {
	    padding-right: 0px;
	    margin-top: -10px;
	    margin-bottom: -7px;
	}
}