* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
.preloader {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 99999999999;
  visibility: visible;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
}
.preloader h1 {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  font-family: 'Open Sans', sans-serif;
  color: #121212;
  text-align: center;
  width: 100%;
  font-size: 22px;
}
.done {
  opacity: 0;
  visibility: hidden;
}
.loader {
  width: 105px;
  height: 105px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#cube-loader {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}
#cube-loader .caption {
  margin: 0 auto;
}
#cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}
#cube-loader .cube-loader .cube {
  position: relative;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0099da;
  -webkit-animation: cube-loader 2.76s infinite linear both;
  animation: cube-loader 2.76s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
#cube-loader .cube-loader .loader-2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotate(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
#cube-loader .cube-loader .loader-3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotate(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
#cube-loader .cube-loader .loader-4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotate(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
#cube-loader .cube-loader .loader-2:before {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
#cube-loader .cube-loader .loader-3:before {
  -webkit-animation-delay: 0.69s;
  animation-delay: 0.69s;
}
#cube-loader .cube-loader .loader-4:before {
  -webkit-animation-delay: 1.04s;
  animation-delay: 1.04s;
}
@-webkit-keyframes cube-loader {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes cube-loader {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
.container {
  width: 1444px;
  margin: 0 auto;
}
.header__content {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1444px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.logo img {
  margin-top: 21px;
}
.heading__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form__selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
}
.form__selection__item2 select {
  margin-top: -10px;
}
.form__selection__item2 img {
  padding-right: 10px;
  margin-top: -10px;
  margin-bottom: -7px;
}
#select {
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  border: none;
  color: #696969;
  padding-right: 7px;
}
.social-network {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
  width: 230px;
}
.social-network a {
  color: #696969;
  display: block;
  font-weight: 300;
  font-size: 14px;
  height: 25px;
}
.social-network a:hover {
  color: #0099DA;
}
.whatsapp {
  margin-top: -2px !important;
}
.telegramm {
  margin-top: -4px !important;
}
.button__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.phone a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 21px;
  margin-top: 31px;
}
.phone a:hover {
  color: #0099da;
}
.phone a img {
  position: relative;
  top: 7px;
  margin-right: 5px;
}
.button__tel a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  padding: 12px 0;
  border: 1px solid #0099DA;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 41px;
  width: 188px;
  color: #0099DA;
  margin-top: 26px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.button__tel a:hover {
  color: #000;
  border: 1px solid #000;
}
.search a {
  display: block;
  text-decoration: none;
  margin-top: 35px;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu__span {
  font-size: 9px;
  background: #F0F0F0;
  border-radius: 7px;
  width: 27px;
  position: absolute;
  text-align: center;
  padding: 3px;
  margin-top: -32px;
  margin-left: 63px;
}
.menu li {
  display: block;
  padding-top: 23px;
}
.menu a {
  font-size: 16px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  text-decoration: none;
}
.menu a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #0099DA;
}
.menu a:hover .shopping-icon {
  background: url(../img/shopping-icon__item.svg) no-repeat center top;
}
.menu a:hover .icon-3D {
  background: url(../img/icon-3D__item.png) no-repeat center top;
}
.menu a:hover .icon-money {
  background: url(../img/icon-money__item.png) no-repeat center top;
}
.icon-3D {
  width: 26px;
  height: 24px;
  display: block;
  margin-right: 7px;
  margin-top: -3px;
  background: url(../img/icon-3D.svg) no-repeat center top;
}
.icon-money {
  width: 26px;
  height: 24px;
  display: block;
  margin-right: 7px;
  margin-top: -3px;
  background: url(../img/icon-money.svg) no-repeat center top;
}
.shopping-icon {
  width: 26px;
  height: 24px;
  display: block;
  margin-right: 7px;
  margin-top: -3px;
  background: url(../img/shopping-icon.svg) no-repeat center top;
}
.heading__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}
#section1 {
  min-height: 513px;
  padding-top: 1px;
  background: url(../img/section1-bg.jpg) no-repeat center top / cover;
}
.transperant__block {
  display: block;
  position: relative;
  width: 454px;
  height: 454px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  margin-left: 230px;
}
.transperant__min__block {
  display: block;
  position: absolute;
  width: 278px;
  margin-left: 130px;
  height: 278px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
}
.blue__block {
  display: block;
  position: absolute;
  width: 118px;
  margin-left: 107px;
  height: 118px;
  margin-top: 88px;
  z-index: 2;
  background: #0099DA;
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}
.red__block {
  display: block;
  position: absolute;
  width: 58px;
  margin-left: 30px;
  height: 58px;
  margin-top: 30px;
  background: #fff;
  z-index: 2;
}
.title__section1 {
  display: block;
  position: absolute;
  width: 900px;
  z-index: 1;
  margin-top: -315px;
  margin-left: 522px;
  background: rgba(255, 255, 255, 0.8);
}
.title__section1 p {
  font-weight: 300;
  font-size: 61px;
  width: 718px;
  display: block;
  padding-top: 50px;
  margin: 0 auto;
  margin-top: 43px;
  padding-bottom: 70px;
}
.span__title1 {
  color: #0099DA;
  font-weight: 600;
}
.span__title2 {
  color: #000;
  font-weight: 600;
}
.red__block__item {
  display: block;
  position: absolute;
  width: 66px;
  margin-left: 1224px;
  height: 66px;
  margin-top: -33px;
  background: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.red__block__item__min {
  display: block;
  position: absolute;
  width: 30px;
  margin-left: 1405px;
  height: 30px;
  margin-top: -330px;
  background: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.red__block__item2 {
  display: block;
  position: relative;
  width: 58px;
  margin-left: 30px;
  height: 58px;
  margin-top: -195px;
  background: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.slider .slick-list {
  overflow: hidden;
  margin: 0 auto;
  height: 500px;
}
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.slider {
  position: relative;
  width: 1454px;
  margin: 0 auto;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  margin-top: -65px;
  position: relative;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 7px 0px 7px;
  cursor: pointer;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: #fff;
  border: 7px solid #0099DA;
  cursor: pointer;
  width: 26px;
  height: 26px;
}
/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
  width: 22px;
  height: 22px;
  border: 4px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  outline: 0;
  cursor: pointer;
}
.form__tel {
  position: fixed;
  background: #00000047;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
.form__tel__item {
  width: 712px;
  height: 490px;
  background: #FAFAFA;
  position: relative;
  margin: 0 auto;
  top: 10%;
  -webkit-box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.25);
}
.form__tel__item h1 {
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  color: #000;
  padding-top: 48px;
  padding-bottom: 23px;
}
.form__action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  width: 468px;
}
.form__action input {
  width: 468px;
  padding: 24px 0px 20px 22px;
  font-weight: 300;
  font-size: 20px;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 25px;
  color: #696969;
}
.radio {
  width: 335px;
  margin: 0 auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.radio input {
  margin-top: 2px;
}
.radio a {
  font-weight: 300;
  font-size: 14px;
  color: #696969;
  display: block;
  text-decoration: none;
}
.radio a span {
  border-bottom: 1px solid #696969;
}
.form__btn {
  width: 188px;
  border: 1px solid #0099DA;
  border-radius: 41px;
  font-size: 16px;
  color: #0099DA;
  padding: 12px 0;
  text-align: center;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  margin-top: 38px;
}
.form__btn:hover {
  border: 1px solid #000;
  color: #000;
}
.exit-form {
  background: url(../img/exit-form.svg);
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 21px;
  top: 19px;
}
.exit-form:hover {
  background: url(../img/exit-form__item.svg);
}
#section2 {
  padding-top: 65px;
  padding-bottom: 50px;
}
.section2__content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section2__item1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 341px;
  height: 91px;
  border: 1px solid #f0f0f0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 23px;
  margin-left: 3px;
  margin-right: 3px;
}
.section2__item1 span {
  width: 50px;
  height: 50px;
  margin-top: 21px;
  margin-left: 32px;
}
.section2__item1__span1 {
  background: url(../img/section2-icon1.svg);
}
.section2__item1__span2 {
  background: url(../img/section2-icon2.svg);
}
.section2__item1__span3 {
  background: url(../img/section2-icon3.svg);
}
.section2__item1__span4 {
  background: url(../img/section2-icon4.svg);
}
.section2__item1__span5 {
  background: url(../img/section2-icon5.svg);
}
.section2__item1__span6 {
  background: url(../img/section2-icon6.svg);
}
.section2__item1__span7 {
  background: url(../img/section2-icon7.svg);
}
.section2__item1__span8 {
  background: url(../img/section2-icon8.svg);
}
.section2__item1:hover .section2__item1__span1 {
  background: url(../img/section2-icon1__item.svg);
}
.section2__item1:hover .section2__item1__span2 {
  background: url(../img/section2-icon2__item.svg);
}
.section2__item1:hover .section2__item1__span3 {
  background: url(../img/section2-icon3__item.svg);
}
.section2__item1:hover .section2__item1__span4 {
  background: url(../img/section2-icon4__item.svg);
}
.section2__item1:hover .section2__item1__span5 {
  background: url(../img/section2-icon5__item.svg);
}
.section2__item1:hover .section2__item1__span6 {
  background: url(../img/section2-icon6__item.svg);
}
.section2__item1:hover .section2__item1__span7 {
  background: url(../img/section2-icon7__item.svg);
}
.section2__item1:hover .section2__item1__span8 {
  background: url(../img/section2-icon8__item.svg);
}
.section2__item1 p {
  font-weight: 300;
  font-size: 16px;
  color: #000;
  padding-top: 36px;
  padding-left: 42px;
}
.section2__item1:hover {
  border: 1px solid #0099DA;
}
.section2__item1:hover p {
  color: #0099DA;
}
.about {
  margin-top: 57px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.photo__video {
  width: 590px;
  height: 375px;
  position: relative;
  z-index: 2;
}
.video::before {
  position: absolute;
  content: '';
  width: 554px;
  height: 340px;
  background: transparent;
  border: 1px solid #fff;
  margin-top: 16px;
  z-index: 3;
  margin-left: 16px;
}
.video::after {
  position: absolute;
  content: '';
  width: 566px;
  height: 351px;
  background: transparent;
  border: 1px solid #0099DA;
  margin-top: -343px;
  margin-left: 39px;
  z-index: 1;
}
.video__item a {
  position: absolute;
  margin-left: -337px;
  z-index: 4;
  margin-top: 158px;
}
.about__text {
  width: 800px;
}
.about__text__item {
  margin-left: 55px;
  width: 702px;
}
.about__text h2 {
  font-size: 45px;
  font-weight: 300;
  padding-top: 50px;
}
.about__text__item h3 {
  font-size: 25px;
  font-weight: 300;
  padding-top: 5px;
}
.about__text__item p {
  color: #696969;
  font-size: 16px;
  font-weight: 300;
  padding-top: 22px;
}
.about__text__item a {
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  width: 81px;
  margin-top: 25px;
}
.video__form {
  position: fixed;
  background: #000000bf;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
.video__form__content {
  width: 630px;
  height: 365px;
  position: relative;
  margin: 0 auto;
  top: 25%;
  -webkit-box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.25);
}
.video__form__exit {
  width: 55px;
  height: 55px;
  background: #000000b3;
  display: block;
  text-decoration: none;
  position: absolute;
  margin-top: -65px;
  margin-left: 575px;
  border-radius: 20px;
}
.video-photo {
  z-index: 2;
  position: relative;
}
.line1 {
  display: block;
  background: #fff;
  width: 35px;
  height: 7px;
  border-radius: 10px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 23px;
  margin-left: 10px;
  position: absolute;
}
.line2 {
  display: block;
  background: #fff;
  width: 35px;
  height: 7px;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 23px;
  margin-left: 10px;
  position: absolute;
}
#section3 {
  background: #fafafa;
  padding-top: 52px;
  padding-bottom: 70px;
}
.section3__content h2 {
  font-weight: 300;
  font-size: 45px;
  padding-bottom: 31px;
}
.section3__item {
  width: 276px;
  height: 89px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #D9D9D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 23px;
  margin-left: 3px;
  margin-right: 3px;
}
.section3__item span {
  margin-top: 15px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  display: block;
}
.section3__item p {
  padding-top: 35px;
  padding-left: 23px;
}
.section3__item__span1 {
  background: url(../img/section3-icon1.svg);
}
.section3__item__span2 {
  background: url(../img/section3-icon2.svg);
}
.section3__item__span3 {
  background: url(../img/section3-icon3.svg);
}
.section3__item__span4 {
  background: url(../img/section3-icon4.svg);
}
.section3__item__span5 {
  background: url(../img/section3-icon5.svg);
}
.section3__item__span6 {
  background: url(../img/section3-icon6.svg);
}
.section3__item__span7 {
  background: url(../img/section3-icon7.svg);
}
.section3__item__span8 {
  background: url(../img/section3-icon8.svg);
}
.section3__item__span9 {
  background: url(../img/section3-icon9.svg);
}
.section3__item__span10 {
  background: url(../img/section3-icon10.svg);
}
.section3__item__span11 {
  background: url(../img/section3-icon11.svg);
}
.section3__item__span12 {
  background: url(../img/section3-icon12.svg);
}
.section3__item__span13 {
  background: url(../img/section3-icon13.svg);
}
.section3__item__span14 {
  background: url(../img/section3-icon14.svg);
}
.section3__item__span15 {
  background: url(../img/section3-icon15.svg);
}
.section3__item__span16 {
  background: url(../img/section3-icon16.svg);
}
.section3__item__span17 {
  background: url(../img/section3-icon17.svg);
}
.section3__item__span18 {
  background: url(../img/section3-icon18.svg);
}
.section3__item__span19 {
  background: url(../img/section3-icon19.svg);
}
.section3__item__span20 {
  background: url(../img/section3-icon20.svg);
}
.section3__item:hover .section3__item__span1 {
  background: url(../img/section3-icon1__item.svg);
}
.section3__item:hover .section3__item__span2 {
  background: url(../img/section3-icon2__item.svg);
}
.section3__item:hover .section3__item__span3 {
  background: url(../img/section3-icon3__item.svg);
}
.section3__item:hover .section3__item__span4 {
  background: url(../img/section3-icon4__item.svg);
}
.section3__item:hover .section3__item__span5 {
  background: url(../img/section3-icon5__item.svg);
}
.section3__item:hover .section3__item__span6 {
  background: url(../img/section3-icon6__item.svg);
}
.section3__item:hover .section3__item__span7 {
  background: url(../img/section3-icon7__item.svg);
}
.section3__item:hover .section3__item__span8 {
  background: url(../img/section3-icon8__item.svg);
}
.section3__item:hover .section3__item__span9 {
  background: url(../img/section3-icon9__item.svg);
}
.section3__item:hover .section3__item__span10 {
  background: url(../img/section3-icon10__item.svg);
}
.section3__item:hover .section3__item__span11 {
  background: url(../img/section3-icon11__item.svg);
}
.section3__item:hover .section3__item__span12 {
  background: url(../img/section3-icon12__item.svg);
}
.section3__item:hover .section3__item__span13 {
  background: url(../img/section3-icon13__item.svg);
}
.section3__item:hover .section3__item__span14 {
  background: url(../img/section3-icon14__item.svg);
}
.section3__item:hover .section3__item__span15 {
  background: url(../img/section3-icon15__item.svg);
}
.section3__item:hover .section3__item__span16 {
  background: url(../img/section3-icon16__item.svg);
}
.section3__item:hover .section3__item__span17 {
  background: url(../img/section3-icon17__item.svg);
}
.section3__item:hover .section3__item__span18 {
  background: url(../img/section3-icon18__item.svg);
}
.section3__item:hover .section3__item__span19 {
  background: url(../img/section3-icon19__item.svg);
}
.section3__item:hover .section3__item__span20 {
  background: url(../img/section3-icon20__item.svg);
}
.section3__content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section3__item:hover {
  border: 1px solid #0099DA;
}
.section3__item:hover p {
  color: #0099DA;
}
#section4 {
  padding-top: 44px;
  padding-bottom: 65px;
}
.section4__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section4__title h2 {
  font-weight: 300;
  font-size: 45px;
}
.section4__title a {
  font-size: 14px;
  color: #696969;
  margin-right: 35px;
  margin-top: 37px;
}
.articles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.articles__item:hover span {
  color: #000;
  border-bottom: none;
}
.articles__item:hover a {
  color: #0099DA;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.articles__item {
  padding: 42px 5px 0px 5px;
}
.articles__item img {
  width: 346px;
  height: 210px;
}
.articles__item p {
  padding-top: 22px;
  color: #696969;
  font-weight: 300;
  font-size: 12px;
}
.articles__item span {
  border-bottom: 1px solid #696969;
  margin-left: 19px;
}
.articles__item a {
  font-size: 21px;
  font-weight: 300;
  margin-top: 9px;
  display: block;
  text-decoration: none;
  color: #000;
}
.guarantees {
  height: 297px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 81px;
}
.guarantees__item1 {
  background: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 73%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 77px;
  padding-right: 100px;
}
.guarantees__item2 {
  background: #0099DA;
  display: block;
  width: 50%;
  padding-top: 53px;
  padding-left: 91px;
}
.guarantees__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 750px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.guarantees__item1__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.guarantees__item1__text h1 {
  font-weight: 300;
  font-size: 99px;
  color: #0099DA;
  width: 142px;
  height: 131px;
  text-align: center;
  padding-top: 11px;
  border: 1px solid #0099DA;
}
.guarantees__item1__text p {
  font-weight: 300;
  font-size: 64px;
  text-align: center;
  line-height: 0.7em;
  padding-top: 26px;
  padding-left: 33px;
}
.guarantees__item1__text p span {
  font-size: 34px;
}
.guarantees__item1__text2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.guarantees__item1__text2 h1 {
  font-weight: 300;
  font-size: 99px;
  color: #0099DA;
  width: 213px;
  height: 131px;
  text-align: center;
  padding-top: 11px;
  border: 1px solid #0099DA;
}
.guarantees__item1__text2 p {
  font-weight: 400;
  font-size: 43px;
  line-height: 0.7em;
  padding-top: 26px;
  padding-left: 33px;
}
.guarantees__item1__text2 p span {
  font-size: 37px;
  font-weight: 300;
}
.question {
  width: 93px;
  height: 83px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  color: #0099da;
  font-size: 58px;
  font-weight: 300;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  margin-left: 146px;
  margin-top: 30px;
}
.guarantees__item2 h2 {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.guarantees__item2 h2 span {
  font-weight: 300;
  text-transform: none;
}
.guarantees__item2 p {
  font-weight: 300;
  font-size: 17px;
  padding-top: 19px;
  color: #fff;
}
.guarantees__item2 a {
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 41px;
  width: 188px;
  padding: 12px 0;
  display: block;
  text-decoration: none;
  color: #fff;
  margin-top: 34px;
  text-align: center;
}
#section5 {
  padding-bottom: 62px;
}
.section5__content__title h2 {
  font-weight: 300;
  font-size: 45px;
}
.photo__section5__item {
  width: 224px !important;
  height: 174px !important;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  margin: 0 auto;
  margin-top: 63px;
}
.customers1 {
  display: block;
  margin: 0 auto;
  margin-top: 33px;
}
.customers2 {
  display: block;
  margin: 0 auto;
  margin-top: 19px;
}
.slider__section5__item {
  text-align: center;
}
.slider__section5 .slick-list {
  overflow: hidden;
  margin: 0 auto;
  height: 290px;
}
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.slider__section5 {
  position: relative;
  width: 1454px;
  margin: 0 auto;
}
.slider__section5 .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  margin: 0 auto;
}
.slider__section5 .slick-dots li {
  list-style: none;
  margin: 0px 7px 0px 7px;
  cursor: pointer;
}
/* Активная точка */
.slider__section5 .slick-dots li.slick-active button {
  background: #0099DA;
  cursor: pointer;
  width: 14px;
  height: 14px;
}
/* Элемент точки */
.slider__section5 .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #E3E3E3;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  margin: 0 auto;
  border: none;
}
#footer {
  background: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 1000px;
}
.footer__item p {
  padding-top: 20px;
  font-weight: 300;
  font-size: 16px;
}
.footer__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 384px;
}
.footer__icon a {
  display: block;
  text-decoration: none;
  margin-top: 13px;
}
.logo2 {
  display: block;
  margin-top: 7px;
  width: 54px;
  height: 45px;
}
@media screen and (max-width: 1550px) {
  .container {
    width: 93%;
  }
  .slider {
    width: 93%;
  }
  #section1 {
    width: 100%;
  }
  .heading {
    width: 93%;
  }
  .transperant__block {
    margin-left: 150px;
  }
  .title__section1 {
    margin-left: 442px;
  }
  .red__block__item__min {
    margin-left: 1325px;
  }
  .red__block__item {
    margin-left: 1144px;
  }
  .slider__section5 {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .red__block__item2 {
    margin-top: -207px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 1520px) {
  .about__text {
    width: 54%;
  }
  .about__text__item {
    margin-left: 55px;
    width: 90%;
  }
  .articles__item img {
    width: 300px;
    height: 195px;
  }
  .articles__item a {
    font-size: 20px;
  }
  .guarantees__item1 {
    padding-left: 25px;
    width: 55%;
  }
}
@media screen and (max-width: 1520px) {
  .transperant__block {
    margin-left: 150px;
    width: 424px;
    height: 424px;
  }
  .transperant__min__block {
    width: 228px;
    height: 228px;
    margin-left: 142px;
  }
  .title__section1 {
    margin-left: 422px;
    margin-top: -275px;
    width: 850px;
  }
  .title__section1 p {
    padding-bottom: 60px;
    padding-top: 10px;
    font-size: 56px;
    width: 660px;
  }
  .red__block__item__min {
    margin-left: 1255px;
    margin-top: -291px;
  }
  .red__block__item {
    margin-left: 1050px;
    margin-top: -50px;
  }
  .red__block__item2 {
    margin-top: -160px;
    margin-left: 0px;
  }
  .blue__block {
    margin-left: 70px;
    margin-top: 88px;
  }
  .section2__item1 {
    width: 310px;
  }
  .section2__item1 span {
    width: 50px;
    height: 50px;
    margin-top: 19px;
    margin-left: 22px;
  }
  .slider__section5 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .articles__item {
    width: 300px;
  }
}
@media screen and (max-width: 1500px) {
  .about__text {
    width: 52%;
  }
}
@media screen and (max-width: 1450px) {
  .blue__block {
    width: 98px;
    height: 98px;
  }
  .red__block {
    width: 40px;
    height: 40px;
  }
  .transperant__block {
    margin-left: 115px;
    width: 400px;
    height: 400px;
  }
  .transperant__min__block {
    width: 218px;
    height: 218px;
    margin-left: 115px;
  }
  .title__section1 {
    margin-left: 352px;
    margin-top: -265px;
    width: 800px;
  }
  .red__block__item__min {
    margin-left: 1140px;
    margin-top: -279px;
    width: 25px;
    height: 25px;
  }
  .red__block__item2 {
    width: 48px;
    height: 48px;
  }
  .red__block__item {
    margin-left: 980px;
    margin-top: -40px;
    width: 56px;
    height: 56px;
  }
  .about__text {
    width: 50%;
  }
}
@media screen and (max-width: 1380px) {
  .about__text {
    width: 48%;
  }
  .about__text__item p {
    padding-top: 10px;
  }
}
@media screen and (max-width: 1350px) {
  #select {
    padding-left: 7px;
  }
  .form__selection__item2 img {
    padding-right: 0px;
    margin-top: -10px;
    margin-bottom: -7px;
  }
}
@media screen and (max-width: 1315px) {
  .transperant__block {
    margin-left: 80px;
    width: 350px;
    height: 350px;
  }
  .transperant__min__block {
    width: 188px;
    height: 188px;
    margin-left: 100px;
  }
  .blue__block {
    width: 88px;
    height: 88px;
    margin-left: 50px;
  }
  .red__block {
    width: 35px;
    height: 35px;
    margin-top: 28px;
    margin-left: 28px;
  }
  .title__section1 {
    margin-left: 277px;
    margin-top: -220px;
    width: 750px;
  }
  .title__section1 p {
    padding-bottom: 60px;
    padding-top: 10px;
    font-size: 52px;
    width: 615px;
  }
  .red__block__item__min {
    margin-left: 1016px;
    margin-top: -233px;
    width: 25px;
    height: 25px;
  }
  .red__block__item {
    margin-left: 863px;
    margin-top: -3px;
    width: 50px;
    height: 50px;
  }
  .video-photo {
    width: 540px;
    height: 335px;
  }
  .video::before {
    width: 501px;
    height: 304px;
    margin-top: 15px;
    margin-left: 18px;
  }
  .video::after {
    width: 511px;
    height: 313px;
    margin-top: -305px;
    margin-left: 34px;
    z-index: 1;
  }
  .about__text {
    width: 51%;
  }
  .articles {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .guarantees {
    height: 275px;
  }
  .guarantees__item1 {
    padding-left: 50px;
    width: 52%;
    padding-right: 65px;
  }
  .guarantees__item2 {
    padding-top: 35px;
    padding-left: 65px;
  }
  .guarantees__item1__text h1 {
    font-size: 85px;
    width: 124px;
    height: 110px;
    padding-top: 5px;
  }
  .guarantees__item1__text p {
    font-size: 46px;
    padding-top: 26px;
    padding-left: 19px;
  }
  .guarantees__item1__text2 h1 {
    font-size: 85px;
    width: 180px;
    height: 110px;
    padding-top: 5px;
  }
  .guarantees__item1__text2 p {
    font-size: 35px;
    padding-top: 26px;
    padding-left: 19px;
  }
  .guarantees__item1__text p span {
    font-size: 23px;
  }
  .question {
    width: 83px;
    height: 73px;
    font-size: 54px;
    padding-top: 10px;
    margin-left: 105px;
    margin-top: 30px;
  }
  .slider .slick-dots {
    margin-top: -130px;
  }
  #section1 {
    min-height: 410px;
  }
  .guarantees__item1__text2 p span {
    font-size: 30px;
    font-weight: 300;
  }
  .guarantees__item2 h2 {
    font-size: 29px;
  }
}
@media screen and (max-width: 1250px) {
  .about__text {
    width: 48%;
  }
  .about__text h2 {
    font-size: 36px;
    padding-top: 38px;
  }
  .about__text__item {
    margin-left: 43px;
    width: 90%;
  }
  .about__text__item h3 {
    font-size: 22px;
    padding-top: 5px;
  }
  .about__text__item p {
    padding-top: 5px;
    font-size: 14px;
  }
  .about__text__item a {
    font-size: 14px;
    width: 81px;
    margin-top: 15px;
  }
  .heading__form {
    width: 465px;
  }
  .button__phone {
    width: 400px;
  }
}
@media screen and (max-width: 1190px) {
  .form__selection {
    width: 195px;
  }
  .phone a img {
    top: 5px;
    margin-right: -3px;
  }
  .transperant__block {
    margin-left: 80px;
    width: 300px;
    height: 300px;
  }
  .transperant__min__block {
    width: 168px;
    height: 168px;
    margin-left: 90px;
  }
  .red__block {
    width: 30px;
    height: 30px;
    margin-top: 24px;
    margin-left: 26px;
  }
  .blue__block {
    width: 78px;
    height: 78px;
    margin-left: 45px;
  }
  .title__section1 {
    margin-left: 260px;
    margin-top: -177px;
    width: 700px;
  }
  .title__section1 p {
    padding-bottom: 45px;
    padding-top: 10px;
    font-size: 49px;
    width: 580px;
  }
  .red__block__item {
    margin-left: 805px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
  }
  .red__block__item__min {
    margin-left: 947px;
    margin-top: -190px;
    width: 25px;
    height: 25px;
  }
  .red__block__item2 {
    margin-top: -80px;
    margin-left: 0px;
  }
  .about__text {
    width: 45%;
  }
  .guarantees {
    height: 255px;
  }
  .guarantees__item1__text p {
    font-size: 38px;
    padding-top: 26px;
    padding-left: 16px;
    height: 60px;
  }
  .guarantees__item1__text h1 {
    font-size: 75px;
    width: 105px;
    height: 94px;
    padding-top: 5px;
  }
  .guarantees__item1__text2 h1 {
    font-size: 75px;
    width: 155px;
    height: 94px;
    padding-top: 5px;
  }
  .guarantees__item1__text2 p {
    font-size: 32px;
    padding-top: 26px;
    padding-left: 16px;
    height: 60px;
  }
  .guarantees__item1__text2 p span {
    font-size: 28px;
    font-weight: 300;
  }
  .guarantees__item1__text p span {
    font-size: 19px;
  }
  .question {
    margin-top: 10px;
  }
  .heading__form {
    width: 435px;
  }
  .button__phone {
    width: 380px;
  }
}
@media screen and (max-width: 1090px) {
  .container {
    width: 97%;
  }
  .slider {
    width: 97%;
  }
  .heading {
    width: 97%;
  }
  .menu a {
    font-size: 14px;
  }
  .icon-3D {
    margin-right: 5px;
    margin-top: -5px;
  }
  .icon-money {
    margin-right: 5px;
    margin-top: -5px;
  }
  .shopping-icon {
    margin-right: 5px;
    margin-top: -5px;
  }
  .menu__span {
    font-size: 8px;
    width: 20px;
    margin-top: -32px;
    margin-left: 55px;
  }
  .guarantees__item1 {
    padding-left: 25px;
    width: 52%;
    padding-right: 65px;
  }
}
@media screen and (max-width: 1050px) {
  .about__text h2 {
    font-size: 32px;
    padding-top: 38px;
  }
  .about__text {
    width: 42%;
  }
  .about__text__item {
    margin-left: 39px;
    width: 90%;
  }
}
@media screen and (max-width: 1030px) {
  .button__phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .phone a {
    margin-top: 14px;
  }
  .button__tel a {
    margin-top: 5px;
  }
  .search a {
    margin-top: 45px;
  }
  .transperant__block {
    margin-left: 80px;
    width: 250px;
    height: 250px;
  }
  .transperant__min__block {
    width: 148px;
    height: 148px;
    margin-left: 70px;
  }
  .red__block {
    width: 25px;
    height: 25px;
    margin-top: 22px;
    margin-left: 23px;
  }
  .blue__block {
    width: 68px;
    height: 68px;
    margin-left: 45px;
    margin-top: 70px;
  }
  .title__section1 {
    margin-left: 231px;
    margin-top: -150px;
    width: 650px;
  }
  .title__section1 p {
    padding-bottom: 45px;
    padding-top: 10px;
    font-size: 47px;
    width: 555px;
    margin-top: 30px;
  }
  .red__block__item {
    margin-left: 748px;
    margin-top: 32px;
    width: 45px;
    height: 45px;
  }
  .red__block__item__min {
    margin-left: 871px;
    margin-top: -161px;
    width: 20px;
    height: 20px;
  }
  #section1 {
    min-height: 355px;
  }
  .slider .slick-list {
    overflow: hidden;
    margin: 0 auto;
    height: 355px;
  }
  #section2 {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .slider .slick-dots {
    margin-top: -45px;
  }
  .guarantees__item1__text h1 {
    font-size: 67px;
    width: 90px;
    height: 84px;
    padding-top: 3px;
  }
  .guarantees__item1__text p {
    font-size: 40px;
    padding-top: 14px;
    padding-left: 14px;
    height: 60px;
  }
  .guarantees__item1__text p span {
    font-size: 19px;
  }
  .guarantees__item1__text2 h1 {
    font-size: 67px;
    width: 130px;
    height: 84px;
    padding-top: 3px;
  }
  .guarantees__item1__text2 p {
    font-size: 32px;
    padding-top: 21px;
    padding-left: 13px;
    height: 60px;
  }
  .guarantees__item1__text2 p span {
    font-size: 25px;
  }
  .guarantees__item1 {
    padding-left: 25px;
    width: 49%;
    padding-right: 65px;
  }
}
@media screen and (max-width: 1010px) {
  .video-photo {
    width: 490px;
    height: 285px;
  }
  .video::after {
    width: 435px;
    height: 263px;
    margin-top: -258px;
    margin-left: 45px;
    z-index: 1;
  }
  .video::before {
    width: 420px;
    height: 257px;
    margin-top: 13px;
    margin-left: 35px;
  }
  .video__item a {
    position: absolute;
    margin-left: -288px;
    z-index: 4;
    margin-top: 114px;
  }
  .about__text__item p {
    padding-top: 5px;
    font-size: 13px;
  }
  .about__text {
    width: 45%;
  }
}
@media screen and (max-width: 980px) {
  .section2__content__item {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media screen and (max-width: 965px) {
  .articles {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media screen and (max-width: 945px) {
  .transperant__block {
    margin-left: 80px;
    width: 200px;
    height: 200px;
  }
  .transperant__min__block {
    width: 138px;
    height: 138px;
    margin-left: 30px;
  }
  .blue__block {
    width: 68px;
    height: 68px;
    margin-left: 45px;
    margin-top: 55px;
  }
  .title__section1 p {
    padding-bottom: 45px;
    padding-top: 10px;
    font-size: 44px;
    width: 520px;
    margin-top: 30px;
  }
  .title__section1 {
    margin-left: 190px;
    margin-top: -108px;
    width: 600px;
  }
  .red__block__item2 {
    width: 40px;
    height: 40px;
    margin-top: -50px;
  }
  .red__block__item {
    margin-left: 668px;
    margin-top: 66px;
    width: 40px;
    height: 40px;
  }
  .red__block__item__min {
    margin-left: 780px;
    margin-top: -118px;
    width: 20px;
    height: 20px;
  }
  .about {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 35px;
  }
  .about__text {
    width: 80%;
  }
  .about__text h2 {
    font-size: 32px;
    padding-top: 0px;
  }
  .about__text__item a {
    font-size: 14px;
    width: 81px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .about__text__item {
    margin-left: 0px;
    width: 90%;
    margin: 0 auto;
  }
  .video::before {
    margin-left: -211px;
  }
  .video::after {
    margin-left: -200px;
  }
}
@media screen and (max-width: 915px) {
  .guarantees__item2 {
    padding-top: 50px;
    padding-left: 65px;
  }
  .guarantees__item2 h2 {
    font-size: 21px;
  }
  .guarantees__item2 p {
    font-size: 14px;
  }
  .guarantees__item2 a {
    font-size: 14px;
    width: 155px;
    padding: 10px 0;
    margin-top: 23px;
  }
  .guarantees__item1 {
    width: 53%;
  }
}
@media screen and (max-width: 875px) {
  .section3__content__item {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .section3__content h2 {
    text-align: center;
  }
}
@media screen and (max-width: 850px) {
  .heading__form {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
    margin-top: 10px;
  }
  .form__selection {
    padding-top: 10px;
  }
  .social-network {
    padding-top: 15px;
  }
  .heading__item {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .menu a {
    font-size: 12px;
  }
  .menu__span {
    font-size: 8px;
    margin-left: 45px;
  }
  .title__section1 {
    margin-left: 190px;
    margin-top: -108px;
    width: 530px;
  }
  .title__section1 p {
    padding-bottom: 40px;
    padding-top: 10px;
    font-size: 38px;
    width: 450px;
    margin-top: 30px;
  }
  .red__block__item {
    margin-left: 607px;
    margin-top: 50px;
  }
  .red__block__item__min {
    margin-left: 710px;
    margin-top: -118px;
  }
  .guarantees {
    height: 190px;
  }
  .guarantees__item1__text h1 {
    font-size: 60px;
    width: 75px;
    height: 74px;
    padding-top: 1px;
  }
  .guarantees__item1__text p span {
    font-size: 16px;
  }
  .guarantees__item1__text p {
    font-size: 35px;
    padding-top: 14px;
    padding-left: 10px;
    height: 55px;
  }
  .guarantees__item1__text2 h1 {
    font-size: 60px;
    width: 110px;
    height: 74px;
    padding-top: 1px;
  }
  .guarantees__item1__text2 p {
    font-size: 26px;
    padding-top: 21px;
    padding-left: 10px;
    height: 45px;
  }
  .guarantees__item1__text2 p span {
    font-size: 22px;
  }
  .question {
    width: 63px;
    height: 53px;
    font-size: 38px;
    margin-left: 81px;
    margin-top: 20px;
  }
  .guarantees__item1 {
    padding-right: 50px;
    padding-top: 57px;
  }
  .guarantees__item2 {
    padding-left: 50px;
  }
  .guarantees__item2 h2 {
    font-size: 19px;
  }
  .guarantees__item2 p {
    font-size: 12px;
    padding-top: 10px;
  }
  .guarantees__item2 a {
    font-size: 12px;
    width: 130px;
    padding: 7px 0;
    margin-top: 17px;
  }
  .phone a img {
    top: 5px;
    margin-right: -3px;
    width: 22px;
    height: 22px;
  }
  .phone a {
    font-size: 16px;
    text-align: center;
  }
  .button__tel a {
    font-size: 13px;
    padding: 10px 0;
    width: 155px;
    margin: 0 auto;
  }
  #select {
    font-size: 12px;
  }
  .social-network a {
    font-size: 12px;
  }
  .form__selection__item2 img {
    width: 24px;
    height: 24px;
  }
  .telegramm img {
    width: 22px;
    height: 22px;
  }
  .whatsapp img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 775px) {
  .title__section1 {
    margin-left: 190px;
    margin-top: -108px;
    width: 450px;
  }
  .title__section1 p {
    padding-bottom: 35px;
    padding-top: 10px;
    font-size: 32px;
    width: 378px;
    margin-top: 25px;
  }
  .red__block__item {
    margin-left: 540px;
    margin-top: 25px;
  }
  .red__block__item__min {
    margin-left: 629px;
    margin-top: -118px;
  }
  #section1 {
    min-height: 315px;
  }
  .slider .slick-dots {
    margin-top: -85px;
  }
  .footer__item {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__icon {
    width: 260px;
    margin-top: 10px;
  }
  .footer__icon img {
    width: 26px;
    height: 26px;
  }
  #footer {
    background: #fafafa;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__item p {
    padding-top: 27px;
    font-size: 14px;
  }
  .footer__logo {
    margin-right: 20px;
  }
}
@media screen and (max-width: 770px) {
  nav {
    height: 0;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .burger {
    height: 45px;
    padding-top: 5px;
  }
  .burger__item {
    height: 34px;
    width: 35px;
    margin-top: 2px;
    background: #0099da;
    padding-top: 1px;
  }
  .line1__burger {
    width: 25px;
    height: 3px;
    display: block;
    background: #fff;
    margin: 0 auto;
    margin-top: 7px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .line2__burger {
    width: 25px;
    height: 3px;
    display: block;
    background: #fff;
    margin: 0 auto;
    margin-top: 5px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .line3__burger {
    width: 25px;
    height: 3px;
    display: block;
    background: #fff;
    margin: 0 auto;
    margin-top: 5px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .menu__burger.active {
    height: 255px;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .line1__burger.active {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 16px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .line2__burger.active {
    width: 0;
  }
  .line3__burger.active {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -11px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    display: block;
    padding-top: 10px;
  }
  .menu a {
    font-size: 15px;
  }
  .menu__span {
    font-size: 8px;
    margin-left: 64px;
    margin-top: -23px;
  }
  .form__tel__item {
    width: 500px;
    height: 350px;
  }
  .form__tel__item h1 {
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 0px;
  }
  .form__action input {
    width: 95%;
    padding: 15px 0px 15px 17px;
    font-size: 15px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 15px;
  }
  .radio {
    width: 286px;
    margin-top: 20px;
  }
  .radio input {
    margin-top: 0px;
  }
  .radio a {
    font-size: 12px;
  }
  .form__btn {
    width: 165px;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 30px;
  }
  iframe {
    width: 500px;
    height: 294px;
  }
  .video__form__content {
    width: 500px;
    height: 294px;
  }
  .video__form__exit {
    margin-left: 490px;
  }
}
@media screen and (max-width: 710px) {
  .guarantees {
    height: 154px;
    margin-top: 40px;
  }
  .guarantees__item1 {
    padding-left: 15px;
    padding-right: 35px;
    padding-top: 43px;
  }
  .guarantees__item1__text h1 {
    font-size: 50px;
    width: 68px;
    height: 60px;
    padding-top: 1px;
  }
  .guarantees__item1__text2 h1 {
    font-size: 50px;
    width: 90px;
    height: 60px;
    padding-top: 1px;
  }
  .guarantees__item1__text p {
    font-size: 27px;
    padding-top: 14px;
    padding-left: 10px;
    height: 40px;
  }
  .guarantees__item1__text p span {
    font-size: 13px;
  }
  .guarantees__item1__text2 p {
    font-size: 21px;
    padding-top: 21px;
    padding-left: 10px;
    height: 38px;
  }
  .guarantees__item1__text2 p span {
    font-size: 17px;
  }
  .guarantees__item2 {
    padding-left: 35px;
    padding-top: 35px;
  }
  .guarantees__item2 h2 {
    font-size: 16px;
  }
  .guarantees__item2 p {
    font-size: 11px;
    padding-top: 8px;
  }
  .guarantees__item2 a {
    font-size: 11px;
    width: 113px;
    padding: 5px 0;
    margin-top: 15px;
  }
  .question {
    width: 53px;
    height: 43px;
    font-size: 29px;
    margin-left: 62px;
    margin-top: 13px;
  }
  #section4 {
    padding-top: 25px;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 690px) {
  .transperant__block {
    margin-left: 75px;
    width: 175px;
    height: 175px;
  }
  .transperant__min__block {
    width: 130px;
    height: 130px;
    margin-left: 22px;
  }
  .blue__block {
    width: 60px;
    height: 60px;
    margin-left: 45px;
    margin-top: 55px;
  }
  .red__block {
    width: 21px;
    height: 21px;
    margin-top: 21px;
    margin-left: 21px;
  }
  .title__section1 {
    margin-left: 170px;
    margin-top: -88px;
    width: 400px;
  }
  .title__section1 p {
    padding-bottom: 27px;
    padding-top: 2px;
    font-size: 27px;
    width: 320px;
    margin-top: 25px;
  }
  .red__block__item2 {
    width: 35px;
    height: 35px;
    margin-top: -36px;
  }
  .red__block__item {
    margin-left: 476px;
    margin-top: 20px;
    width: 35px;
    height: 35px;
  }
  .red__block__item__min {
    margin-left: 561px;
    margin-top: -95px;
    width: 15px;
    height: 15px;
  }
  .social-network {
    width: 195px;
  }
}
@media screen and (max-width: 630px) {
  .footer__icon img {
    width: 22px;
    height: 22px;
  }
  .footer__item p {
    padding-top: 23px;
    font-size: 12px;
  }
  .footer__icon {
    width: 200px;
    margin-top: 5px;
  }
  .logo2 {
    margin-top: 7px;
    width: 44px;
    height: 35px;
  }
}
@media screen and (max-width: 610px) {
  iframe {
    width: 350px;
    height: 204px;
  }
  .video__form__content {
    width: 350px;
    height: 204px;
  }
  .line1 {
    width: 25px;
    height: 4px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .line2 {
    width: 25px;
    height: 4px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .video__form__exit {
    margin-left: 315px;
    margin-top: -50px;
    height: 45px;
    width: 45px;
  }
  .transperant__block {
    margin-left: 45px;
    width: 175px;
    height: 175px;
  }
  .title__section1 {
    margin-left: 143px;
    margin-top: -88px;
    width: 350px;
  }
  .title__section1 p {
    padding-bottom: 27px;
    padding-top: 2px;
    font-size: 25px;
    width: 295px;
    margin-top: 25px;
  }
  .red__block__item {
    margin-left: 416px;
    margin-top: 14px;
    width: 35px;
    height: 35px;
  }
  .red__block__item__min {
    margin-left: 484px;
    margin-top: -95px;
    width: 15px;
    height: 15px;
  }
  #select {
    padding-left: 0px;
    font-size: 10px;
  }
  .form__selection {
    width: 160px;
    padding-top: 0;
  }
  .form__selection__item2 img {
    width: 22px;
    height: 22px;
  }
  .social-network a {
    font-size: 10px;
  }
  .social-network {
    width: 155px;
  }
  .phone a {
    font-size: 13px;
    text-align: center;
    margin-top: 0;
  }
  .phone a img {
    top: 3px;
    margin-right: -1px;
    width: 18px;
    height: 18px;
  }
  .button__tel a {
    font-size: 12px;
    padding: 6px 0;
    width: 125px;
    margin: 0 auto;
  }
  .button__phone {
    height: 53px;
    margin-top: 28px;
  }
  .search a img {
    width: 21px;
    height: 21px;
  }
}
@media screen and (max-width: 590px) {
  .guarantees__item1__text h1 {
    font-size: 40px;
    width: 50px;
    height: 47px;
    padding-top: 1px;
  }
  .guarantees__item1__text p {
    font-size: 23px;
    padding-top: 10px;
    padding-left: 5px;
    height: 35px;
  }
  .guarantees__item1__text p span {
    font-size: 13px;
  }
  .guarantees__item1__text2 h1 {
    font-size: 40px;
    width: 70px;
    height: 47px;
    padding-top: 1px;
  }
  .guarantees__item1__text2 p {
    font-size: 16px;
    padding-top: 13px;
    padding-left: 5px;
    height: 33px;
  }
  .guarantees__item1__text2 p span {
    font-size: 14px;
  }
  .guarantees__item2 h2 {
    font-size: 14px;
  }
  .guarantees__item2 p {
    font-size: 10px;
    padding-top: 3px;
  }
  .guarantees__item2 a {
    font-size: 10px;
    width: 92px;
    padding: 3px 0;
    margin-top: 10px;
  }
  .question {
    width: 43px;
    height: 33px;
    font-size: 22px;
    margin-left: 53px;
    margin-top: 7px;
  }
  .guarantees__item1 {
    padding-left: 15px;
    padding-right: 31px;
    padding-top: 30px;
  }
  .guarantees__item2 {
    padding-left: 31px;
    padding-top: 15px;
  }
  .guarantees {
    height: 110px;
    margin-top: 40px;
  }
  .guarantees__item1 {
    width: 49%;
  }
}
