* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 375px;
	margin: 0 auto;
}

.form {
	background: url(../img/rega-bg.jpg) no-repeat center top/cover;
	width: 370px;
	height: 430px;
	box-shadow: 9px 7px 1px 0px rgb(134, 172, 202);
	border-radius: 25px;
}

.registration h1 {
	position: relative;
	font-size: 40px;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 5px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}

.form__item {
	display: flex;
	align-items: center;
	flex-direction: column;
}

input {
	font-size: 18px;
	color: #000;
	padding: 8px 0px 8px 13px;
    width: 330px;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: 400;
    background: #bdccd1;
    border: none;
	box-shadow: 0px 6px 1px 0px rgb(238, 186, 186);
}

.box.active {
	background: #f3d7d4;
}

.form__item a {
	font-size: 30px;
	width: 330px;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px 0;
	margin-top: 30px;
	border-radius: 5px;
	color: #fff;
	transition: 0.2s linear;
	background-color: #eebaba;
}

.form__item a:hover {
	color: #eebaba;
	background-color: #fff;
}
::-webkit-input-placeholder {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transform: skew(-5deg);
}
::-moz-placeholder {
  color: #121212;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transform: skew(-5deg);
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}

.icon h2 {
	font-size: 25px;
	color: #000;
	font-weight: 400;
	padding-right: 25px;
}

.registration__item h4 {
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	padding-top: 5px;
}

.car__owner {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.car__owner img {
	width: 30px;
	height: 32px;
}

.car__owner a {
	color: #0079d2ab;
	font-size: 20px;
	text-transform: uppercase;
	padding-left: 10px;
    padding-top: 5px;
    font-weight: 500;
    display: block;
    text-decoration: none;
}

.footer__text {
	font-size: 15px;
	text-align: center;
	font-weight: 400;
    display: block;
    text-decoration: none;
    color: #000;
    margin-top: 35px;
}

@media screen and (max-width: 400px) {
	.registration h1 {
		font-size: 30px;
	}

	input {
		width: 290px;
		font-size: 15px;
	}

	.form__item a {
	    font-size: 25px;
	    width: 290px;
	}

	.icon {
		padding-top: 15px;
	}

	.icon h2 {
	    font-size: 20px;
	    padding-right: 20px;
	}

	.icon__item img {
		width: 35px;
		height: 32px;
	}

	.registration__item h4 {
	    font-size: 17px;
	    text-align: center;
	    font-weight: 400;
	    padding-top: 8px;
	    padding-bottom: 10px;
	}

	.car__owner a {
	    font-size: 16px;
	    padding-top: 9px;
	}

	.car__owner {
		padding-top: 3px;
	}

	.footer__text {
	    font-size: 15px;
	    margin-top: 23px;
	}

	.form {
		width: 99%;
		height: 395px;
		margin-left: -2px;
	}

	.container {
		width: 95%;
	}
}